assets/
*.graphml
*.gpkg
*geojson
*.csv
roads_diy.graphml filter=lfs diff=lfs merge=lfs -text
roads_diy_edges.gpkg filter=lfs diff=lfs merge=lfs -text
roads_diy_nodes.gpkg filter=lfs diff=lfs merge=lfs -text
diy_polygon.gpkg filter=lfs diff=lfs merge=lfs -text
